body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0;
  margin: 0;
}

video {
  width: 100%;
  height: auto;
}

body {
  background-color: white;
  text-align: center;
  padding-top: 20px;
}

.recording {
  background-color: red;
}

.ready {
  background-color: green;
}
